package post_page

import (
  "fmt"
  "github.com/thevtm/baker-news/ui/base_page"
)

import ("github.com/thevtm/baker-news/state")

templ Post(post state.Post) {
  <h1>{ fmt.Sprintf("%d", post.Score) } - { post.Title }</h1>
}

templ PostMain(post state.Post) {
  @Post(post)
}

templ PostPage(post state.Post) {
  @base_page.BasePage(Post(post))
}
