{{ define "base" }}
<!DOCTYPE html>
<html lang="en">
  {{ template "head" }}

  <body>
    {{ template "header" }}

    <main>
      <section>
        10
        <a
          class="button posts_list__upvote_button"
          href="./posts_list/upvote/1"
          data-bk-state="not-upvoted"
          >Upvote</a
        >
        <a href="https://example.com">Post 1</a>
      </section>

      <section>
        2
        <a
          class="button posts_list__upvote_button"
          href="./posts_list/upvote/2"
          data-bk-state="upvoting"
          disabled
          >Upvoting...</a
        >
        <a href="https://example.com">Post 2</a>
      </section>

      <section>
        -1
        <a
          class="button posts_list__upvote_button"
          href="./posts_list/undo_upvote/2"
          data-bk-state="upvoted"
          >Upvoted</a
        >
        <a href="https://example.com">Post 3</a>
      </section>
    </main>

    {{ template "footer" }}
  </body>
</html>
{{ end }} {{ define "head" }}
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>My New Website</title>

  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css" />

  <script src="https://unpkg.com/htmx.org@2.0.2" defer></script>
</head>
{{ end }} {{ define "header" }}
<header>
  <nav>
    <a href="/">Backer News</a>
    <a href="/login">Login</a>
  </nav>
</header>
{{ end }} {{ define "footer" }}
<footer>
  <p>Jane Smith's website.</p>
</footer>
{{ end }}
